input[type=text], select {
    
    width: 80%;
    
    height: 3%;
    /*
    padding: 12px 20px;
    */
    margin: 8px 0;
    
    display: inline-block;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 10px;
    border-style: inset;
    
}

.jumbotron {
    background-color: #053257 ;
    color: darkgrey;
}

label {
    font-weight: bold;
    margin-top: 10px;

}

.sidebar-headings {
    font-weight: lighter;
}

.panel-heading {
    height: 50px;
    width: 100%;
    background-color: #aaaaaa;
    position: relative;
    border-top-right-radius: 5px;
    border-top-left-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w3-bar-item {
    color: #ffffff;
}

.header-tab {
    width: 100%;
    background-color: #eeeeee;
    position: fixed;
    top: 0px;
    z-index: 3;
    box-shadow: 0px 0px 10px #555555
}

.w3-sidebar {
    background-color: #000000;
}

header {
    width: 100%;
}

.btn.btn-secondary {
    margin-top: 15px;
    margin-bottom: 22px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 7px;
}

.card.card-inverse.card-primary.mb-3.text-center {
    width: 22rem;
    border-radius: 10px;
    box-shadow: 2px 2px 7px #333;
}

.card.card-info.mb-3.text-center {
    width: 22rem;
    border-radius: 10px;
    box-shadow: 2px 2px 7px #333;
}

.card-title {
     margin-left: 10px;
     font-size: 22px;
}

.card-subtitle.mb-2.text-muted {
    margin-left: 10px;
    color: #eeeeee;
}

.card-text {
    margin-left: 10px;
}

.middle {
    background-color: #000000;
    height: 600px;

}

#podheader {
    font-family: Verdana;
    color: Black;
    height: 30px;
    text-align: center;
    margin: 12px;
    
}

body {
     background-color: #000;
     margin: 0px;
     height: 710px;
}

h7 {
     font-family: Verdana;
     text-align: center;
     line-height:50px;
}


